.settings-card {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: auto;
    background-color:rgba(255, 255, 255, 0.705);
}
.title-config{
    margin-left: -140px;
    margin-bottom: 0px;
}
.slide-toggle{
    margin-left: -250px;
    margin-bottom: 15px; 
    font-weight: bolder;   
}
.register-page
{
    background-image: url('./../../../assets/images/busback.png');    
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 57px;
    background-size: cover;
}

.logout{
    margin-left: 426px;
    top: 10px;
    bottom: 10px;
}

.button-register{
    margin-left: 356px;
}

div{
    font-family: Helvetica;
}